{% extends '@BkstgCore/layout.html.twig' %}
{% trans_default_domain 'BkstgCoreBundle' %}

{% block aside %}
  <div class="sidebar-menu row">
    {{ knp_menu_render('bkstg_admin_menu', {'template': '@BkstgCore/Menu/_context_menu.html.twig'}) }}
  </div>
{% endblock %}
