{% extends 'base.html.twig' %}
{% trans_default_domain 'BkstgCoreBundle' %}
{% block body %}
  {% block navigation %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
      {% include '@BkstgCore/Partials/navbar.html.twig' %}
    {% endif %}
  {% endblock %}
  {% block main %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 bg-dark">
          {% block aside %}
            <div class="sidebar-menu row">
              {{ knp_menu_render('bkstg_production_menu', {'template': '@BkstgCore/Menu/context_menu.html.twig'}) }}
            </div>
          {% endblock %}
        </div>
        <div class="col-sm-9 col-md-10">
          {% block header %}
            {% include '@BkstgCore/Partials/header.html.twig' with { 'title': page_title } only %}
          {% endblock %}
          {% include '@BkstgCore/Partials/alerts.html.twig' %}
          {% block content %}{% endblock %}
          {% block footer %}
            {% include '@BkstgCore/Partials/footer.html.twig' %}
          {% endblock %}
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock %}
