<footer class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well">{{ '&copy; The Backstage %date%'|trans({'%date%': "now"|date('Y')})|raw }}</div>
    </div>
  </div>
</footer>
