{% extends '@BkstgCore/layout.html.twig' %}
{% block main %}
  <div id="content" class="container">
    <div class="row">
      <div class="col-md-4">
        {% block aside %}{% endblock %}
      </div>
      <div class="col-md-8">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
