@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

ul.pagination {
  margin-top: 1em;
}

.sidebar-menu {
  .list-group {
    z-index: 0;
    .active {
      border: none;
      background-color: darken($gray-800, 10%) !important;
    }
    width: 100%;
    a {
      border-radius: 0;
    }
    .list-group .list-group-item {
      background-color: darken($gray-800, 10%) !important;
      padding-left: 1.5em;
      font-size: 0.9rem;
      &.current {
        border: none;
        border-left: solid 5px #555;
      }
    }
  }
  h5 {
    margin: .5rem;
    color: $white;
  }
}
