{% extends '@BkstgCore/layout.html.twig' %}
{% set page_title = 'Create your profile'|trans %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% form_theme form.image '@SonataMedia/Form/media_widgets.html.twig' %}
{% form_theme form.height '@BkstgCore/Form/units_widgets.html.twig' %}
{% form_theme form.weight '@BkstgCore/Form/units_widgets.html.twig' %}
{% block content %}
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
    </div>
  {{ form_end(form) }}
{% endblock %}
