{# ignore root item link/label #}
{% if not item.isRoot %}
  <li class="nav-item">
    <a class="nav-link" href="{{ item.uri }}">
      <i class="fa fa-{{item.icon}}"></i>
      {{ item.label }}
    </a>
{% endif %}

{# if item has children render them #}
{% if item.hasChildren %}
  <ul class="navbar-nav">
    {% for child in item.children %}
      {% include '@BkstgCore/Menu/main_menu.html.twig' with { 'item': child } %}
    {% endfor %}
  </ul>
{% endif %}

{# Don't close the root, as it was never opened #}
{% if not item.isRoot %}
  </li>
{% endif %}

