{% extends '@BkstgCore/layout.html.twig' %}
{% set page_title = production.name %}
{% trans_default_domain 'BkstgCoreBundle' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      {% media production.image, 'big' %}
      {{ production.description|raw }}
    </div>
    <div class="col-md-5">
      {{ sonata_block_render_event('bkstg.timeline.production_timeline', {'production': production}) }}
    </div>
  </div>
</div>

{% endblock %}
