<div class="list-group">
  <div class="list-group-item">
    <h5><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Recent Activity</h5>
  </div>
  {% for message in messages %}
    <a href="{{ message_manager.getlink(message) }}" class="list-group-item">
      {% if ( message.new is defined ) and ( message.new == true )  %}
        <span class="badge">new</span>
      {% endif %}
      {{ message.body }}<br />
      <small>on {{ message.created|date('F j, Y') }}</small>
    </a>
  {% else %}
    <a class="list-group-item">
      No recent activity yet!
    </a>
  {% endfor %}
</div>
